.discover {
  font-size: 52px;
  font-weight: 500;
  line-height: 50px;
  color: #2e266f;
}

.search_input {
  width: 80%;
  height: 80px;
  background-color: #efefef;
  border-radius: 15px;
  color: #b6b6b6;
  padding: 0 50px;
  border: 0;
}

.colstrip {
  margin: 50px 0;
  width: 20px;
  height: 100px;
  background-color: #efc81a;
}

.part {
  font-weight: 500;
  font-size: 38px;
  color: #3f3a3a;
  margin-left: 20px;
}

.healthy {
  color: #3f3a3a;
  font-weight: 500;
  font-size: 40px;
  line-height: 72.91px;
  width: fit-content;
}

.strip {
  height: 3px;
  background-color: #6f6a40;
  width: 100px;
  margin: 15px 0;
}

.quick {
  color: #3f3a3a;
  font-size: 20px;
  line-height: 32px;
  margin: 35px 0;
}

.learnbtn {
  width: 40%;
  height: 54px;
  border-radius: 8px;
  background-color: #efc81a;
  border: 0;
}

.title_menu {
  font-weight: 500;
  font-size: 25px;
  position: absolute;
  bottom: 0;
  left: 20px;
}

/* .popularImg::before{
      content: "";
      border: 3px solid #efc81a;
      position: absolute;
      display: block;
      width: 500px;
      height: 600px;
      border-radius: 10px;
      top: 80px;
      left: 190px;
      z-index: -1;
  } */

/* .newImg::before{
      content: "";
      background-color: #efc81a;
      width: 514px;
      height: 620px;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
  } */

/* -----------------mobile------------------ */

@media screen and (max-width: 428px) {
  .text_title {
    display: flex;
    flex-direction: column-reverse;
  }

  .discover {
    font-size: 32px;
    line-height: 20px;
  }

  .search_input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0 30px;
  }

  .colstrip {
    margin: 0;
    width: 15px;
    height: 70px;
    background-color: #efc81a;
  }

  .part {
    font-weight: 500;
    font-size: 25px;
    color: #3f3a3a;
    margin-left: 20px;
  }

  .deskription {
    padding: 20px 0;
  }

  .healthy {
    font-size: 30px;
    line-height: 32.91px;
  }

  .strip {
    height: 2px;
    width: 50px;
    margin: 15px 0;
  }

  .quick {
    color: #3f3a3a;
    font-size: 15px;
    line-height: 22px;
    margin: 20px 0;
  }

  .learnbtn {
    width: 30%;
    height: 34px;
    border-radius: 4px;
    font-size: 10px;
  }

  .title_menu {
    font-size: 15px;
    bottom: 0;
    left: 10px;
  }
}
